section.section.section__about 
  .container  
    div.col-6.my-auto
      div.section__header.section__header_mb-none
        h2.section__header_title New Listing
        p.section__header_description Nam a dui erat. Sed bibendum augue et porta consequat. Morbi id mattis sem. Phasellus quis magna ipsum. Donec malesuada nisi felis, vel vestibulum nisl volutpat faucibus. Suspendisse volutpat feugiat hendrerit. Donec ullamcorper ex sed gravida efficitur. Etiam tincidunt dui arcu, id varius dolor pulvinar vel.
        button.btn.btn-success(type="button") purchase theme