div.news__card_item.col
  div.card
    div.card__img
      img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
    div.card__body
      h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
      p.card__price.text-primary interiors / 12.04.2018
      p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.