section.section.section__features   
  .section__features_opacity
    .container 
      .features
        .row
          .features__item.col
            .features__item_img 
              img(src="../img/about-us/main/features/anchor.png", alt="")
            h5.features__item_title  creative ideas
            p.features__item_description Be set fourth land god darkness make it wherein own
          .features__item.col
            .features__item_img 
              img(src="../img/about-us/main/features/star.png", alt="")
            h5.features__item_title  realy clean code
            p.features__item_description A she'd them bring void moving third she'd kind fill
          .features__item.col 
            .features__item_img 
              img(src="../img/about-us/main/features/heart.png", alt="")
            h5.features__item_title  support 24/7
            p.features__item_description Dominion man second spirit he, earth they're creeping
          .features__item.col 
            .features__item_img 
              img(src="../img/about-us/main/features/umbrella.png", alt="")
            h5.features__item_title  talanted team
            p.features__item_description Morning his saying moveth it multiply appear life be