
div.filter__item
  p.filter__item_title City
  select.filter__item_menu
    option New York
    option One
    option Two
    option Three
div.filter__item
  p.filter__item_title Property Tipe
  select.filter__item_menu
    option Any Tipe
    option One
    option Two
    option Three
div.filter__item
  p.filter__item_title Purpose
  select.filter__item_menu
    option Any Purpose
    option One
    option Two
    option Three
div.filter__item
  p.filter__item_title Bethrooms
  select.filter__item_menu
    option 1+
    option One
    option Two
    option Three
div.filter__item
  p.filter__item_title Bathrooms
  select.filter__item_menu
    option 1+
    option One
    option Two
    option Three
  //- div.property__filter_btn
  //-   button.btn.btn-w100.btn-success(type="button") serch properties