footer.footer 
  div.container
    div.footer__wrapper
      div.row
        div.col-6
          div.col-7
            div.footer__logo
              a(href="") Real Estate
            div 
              p.footer__description Nam a dui erat. Sed bibendum augue et porta consequat. Morbi id mattis sem. Phasellus quis magna ipsum. Donec malesuada nisi felis, vel vestibulum nisl volutpat faucibus.
        div.col-6
          div.row
            .footer__nav.col-6
              h5.footer__nav_title Quick Links
              ul.footer__nav_list.row.row-cols-2 
                li.footer__nav_item 
                  a(href="./index.html")  Home
                li.footer__nav_item 
                  a(href="") News
                li.footer__nav_item 
                  a(href="") Agencies
                li.footer__nav_item 
                  a(href="") Contact Us
                li.footer__nav_item 
                  a(href="./properties.html") Property
            .footer__contact.col-6
              h5.footer__contact_title Contact Us
              ul.footer__contact_list 
                li.footer__contact_item 
                  a(href="") hello@realestate.com
                li.footer__contact_item +44 987 065 908
                li.footer__contact_item +44 987 062 909
      div.footer__link_wrapper
        a.footer__link_item(href="") d
        a.footer__link_item(href="") d
        a.footer__link_item(href="") d
        a.footer__link_item(href="") d
        a.footer__link_item(href="") d
        a.footer__link_item(href="") d
  div.footer__copyright_wrapper.text-center
    p.footer__copyright © 2018 . All rights reserved.

