header.header 
    .container 
        nav.navbar.navbar-expand-lg.navbar-light
            div.container-fluid.p-0
                a.navbar-brand(href="#")
                    img(src="../img/header/logo.png", alt="")
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon 
                
                div.header__entry.order-lg-1
                    div.header__entry_lock 
                        a(href="") 
                            img(src="../img/header/lock.png", alt="")
                    div.header__entry_login
                        a(href="") login
                        a(href="") Register
                div.collapse.navbar-collapse.justify-content-center(id="navbarTogglerDemo02")
                    ul.navbar-nav.d-flex.text-center 
                        each value, index in {'Home' : 'index', 'properties' : 'properties', 'Agencies' : 'agencies', 'about' : 'about', 'news' : 'news', 'contact us' : 'contact-us'}
                            li
                                a.nav-link(href= " ./" + value + ".html")= index
        div 