section.section.section__news 
  div.container
    div.section__header.text-center
      h2.section__header_title Latest News
    .news__card_list
      if margin
        div.row.row-cols-3.mb-4
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
      else 
        div.row.row-cols-3
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
          div.news__card_item.col
            div.card
              div.card__img
                img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
              div.card__body
                h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                p.card__price interiors / 12.04.2018
                p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
      if latestNewsCards
          div.row.row-cols-3
            div.news__card_item.col
              div.card
                div.card__img
                  img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
                div.card__body
                  h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                  p.card__price interiors / 12.04.2018
                  p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
            div.news__card_item.col
              div.card
                div.card__img
                  img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
                div.card__body
                  h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                  p.card__price interiors / 12.04.2018
                  p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
            div.news__card_item.col
              div.card
                div.card__img
                  img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
                div.card__body
                  h5.card__title Nullam vestibulum leo et ante, vel feugiat mauris accumsan.
                  p.card__price interiors / 12.04.2018
                  p.card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium magna ac placerat interdum.
      else 
    div.text-center
      button.btn.btn-success(type="button") view detail