.agencies__card_list 
      div.agencies__card_item
        div.card
          div.card__img
            img(src="../img/card/card-agencies/img-icon/img-icon-1.svg" class="card-img-top" alt="...")
          div.card__body.text-center
            h5.card__title Central Park, Manhattan, NY
            p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
            button.btn.btn-success(type="button") view detail
      div.agencies__card_item
        div.card
          div.card__img
            img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
          div.card__body.text-center
            h5.card__title Central Park, Manhattan, NY
            p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
            button.btn.btn-success(type="button") view detail
      div.agencies__card_item
        div.card
          div.card__img
            img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
          div.card__body.text-center
            h5.card__title Central Park, Manhattan, NY
            p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
            button.btn.btn-success(type="button") view detail
      div.agencies__card_item
        div.card
          div.card__img
            img(src="../img/card/card_picture/card_img_one.png" class="card-img-top" alt="...")
          div.card__body.text-center
            h5.card__title Central Park, Manhattan, NY
            p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
            button.btn.btn-success(type="button") view detail