section.section.section__contact 
  .container 
    div.row
      div.col-6.my-auto.contact__content
        p If you have any questions – please contact us via the contact form.
      div.col-6.text-end.my-auto
        button.btn.btn-outline-light Contact us