section.section.section__contact 
  .container 
    div.row.row-cols-1.row-cols-md-2
      div.col.my-auto.contact__content.mb-4.mb-md-0
        p If you have any questions – please contact us via the contact form.
      div.col.text-center.text-md-end.my-auto
        button.btn.btn-outline-light Contact us