section.section.section__galery 
  .container 
    .text-center
      h2.section__header_title Our Galery
      p.section__header_description.col-6.offset-3 Aliquam fermentum erat eu nunc dignissim hendrerit. Praesent tellus, orci imperdiet id accumsan in, cursus eu mauris.
    .galery 
      .row.row-cols-3.g-4
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")
        .galery__item.col
          .galery__img 
            img(src="../img/about-us/main/galery/card-img-1.png", alt="")