section.section.section__contact-info
  .container 
    .row 
      .col.contact-info__content 
        h4.contact-info__content_title contact info:
        p.contact-info__content_description To give give beginning divide, cattle. Give moving won't, there the abundantly she'd she'd brought air upon. Light hath subdue. Life days creature upon first heaven gathering dry.
        p.contact-info__content_contact 
          span.contact-info__content_contact_title Address: 
          p 10111 Santa Monica boylevard, LA
      .col.contact-info__form