section.section.section__listing
  .container 
    div.section__header.text-center
      h2.section__header_title New Listing
      .listing__btn.text-center
        button.btn.btn-outline-primary.listing__btn_rent.active(href="#rent") RENT
        button.btn.btn-outline-primary.listing__btn_buy BUY
    div 