doctype html
html(lang="en")
  include ./components/head.pug
  body
    include ./components/header.pug
    include ./components/review.pug
    include ./components/latest-news.pug
    include ./components/section-contact.pug
    include ./components/footer.pug
  include ./components/link-js.pug