-var about = true
doctype html
html(lang="en")
  include ./components/head.pug
  body
    include ./components/header.pug
    include ./components/welcome.pug
    include ./components/property.pug
    section.section.section__listing
      .container 
        div.section__header.text-center
          h2.section__header_title New Listing
          .listing__btn.text-center
            button.btn.btn-outline-success.listing__btn_rent.btn_active(href="#rent") RENT
            button.btn.btn-outline-success.listing__btn_buy BUY
        include ./components/new-listing.pug
    section.section.section__agencies
      .container 
        div.section__header.text-center
          h2.section__header_title Search Property
          p.section__header_description.col-6.offset-3 Aliquam fermentum erat eu nunc dignissim hendrerit. Praesent tellus, orci imperdiet id accumsan in, cursus eu mauris.
        include ./components/section-agencies.pug
    include ./components/review.pug
    include ./components/latest-news.pug
    include ./components/section-about 
    include ./components/section-contact.pug
    include ./components/footer.pug
  //- link JavaScript
  include ./components/link-js.pug