- var margin = true
- var latestNewsCards = true
doctype html
html(lang="en")
  include ./components/head.pug
  body
    include ./components/header.pug
    include ./components/latest-news.pug
    include ./components/footer.pug
  include ./components/link-js.pug