doctype html
html(lang="en")
  include ./components/head.pug
  body
    include ./components/header.pug
    section.section.section__filter
      .container
        .filter
          div.filter__wrapper
            include ./components/filter.pug
            div.filter__item
              p.filter__item_title Keywords
              input.filter__item_menu(type='text' placeholder="Enter keywords...")
                
            include ./components/price-range.pug
            .property__filter_btn.my-auto
              button.btn.btn-success(type="button") serch properties
    section.section.section__listing
      .container 
        include ./components/new-listing.pug
    include ./components/section-contact.pug
    include ./components/footer.pug
  include ./components/link-js.pug
  