.footer {
  background: #212121;
  color: #fff;
  &__wrapper {
    padding: 100px 0 120px;
  }
  &__logo {
    margin-bottom: 18px;
    & a{
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__description {
    margin-bottom: 16px;
    color: #ffffff8e;
  }
  &__nav {
    &_title {
      margin-bottom: 18px;
      font-size: 17px;
      font-weight: 700;
    }
    &_list {
      line-height: 1;
    }
    &_item {
      font-size: 14px;
      &:nth-child(-n+4){
        margin-bottom: 17px;
        margin-bottom: 15px;
      }
      & a{
        color: #ffffff8e;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  &__contact {
    &_title {
      margin-bottom: 18px;
      font-size: 17px;
      font-weight: 700;
    }
    &_list {
      line-height: 1;
    }
    &_item {
      color: #ffffff8e;
      font-size: 14px;
      
      &:nth-child(-n+2){
        margin-bottom: 15px;
      }
      & a{
        color: #ffffff8e;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  &__copyright {
    opacity: 40%;
    padding: 25px 0 30px;
    &_wrapper {
      background-color: #191919;
      
    }
  }
  &__link{
    &_item{
      &:hover svg path{
        fill: rgba(255, 255, 255, 0.603);
        transition: .3s;
      }
      &:nth-child(-n+5){
        margin-right: 16px;
      }
      & svg path{
        transition: .3s;
        
      }
    }
  }
}

