.navbar-brand{
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  width: 139px;
}
.navbar-toggler{
  border: none;
  box-shadow: none !important;
}

.nav-link{
  color: #171717 !important;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 6px;
  padding-right: 12px !important;
  padding-left: 12px !important;
  margin: 0 4px;
  font-size: 12.5px;
  &:hover{
    background: #00bd74;
    color: #FFF !important;
  }
}
.header{
  border-bottom:2px solid #f0f0f0;
  background: #fff;
  &__entry{
    display: flex;
    align-items: center;
    font-size: 13px;
    & a:nth-child(-n+1){
      margin-right: 10.5px;
    }
    &_lock{
      & a{
        display: flex;
        align-items: center;
        
      }
    }
    &_login{
      position: relative;
      &::after{
        content: '';
        height: 12px;
        width: 2px;
        background: #171717;
        position: absolute;
        left: 47px;
        top: 4px;
      }
      & a{
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
          color: #171717a9;
        }
      }
    }
  }
}