.listing{
  &__btn{
    text-align: center;
    max-width: 165px;
    margin: 0 auto;
    display: flex;
    
    & .active{
      color: #fff;
    }
    & .btn-outline-primary{
      &:hover{
        color: #ffffff;
      }
    }
    
    & .btn{
      font-weight: 700;
      font-size: 13px;
      padding: 16px 20px;
    }
    &_rent{
      width: 50%;
      border-radius: 3px 0 0 3px;
      color: #000;
    } 
    &_buy{
      width: 50%;
      border-radius: 0 3px 3px 0;
      color: #000;
    }
  }
  &__card{
    &_list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-bottom: 70px;
      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 476px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
