.section__header{
  margin-bottom: 70px;
  @media (max-width: 476px) {
    margin-bottom: 15px;
  }
  &_mb-none{
    margin-bottom: 0;
  }
  &_title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 29px;
  }
  &_description{
    margin-bottom: 29px;
    @media (max-width: 476px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}