.swiper{
  &-button{
    &-next{
      &:after{
        content: '';
      }
      &:hover path{
          fill: rgba(255, 255, 255, 0.589);
      }
    } 
    &-prev{
      &:after{
        content: '';
      }
      &:hover path{
        fill: rgba(255, 255, 255, 0.589);
      }
    }
  }
  &-pagination-bullet{
    background: #FFF;
  }
}